<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>All Blogs</h2>
    </div>

    <% if(blogs.length){ %> <% blogs.forEach(blog => {%>
    <h3><%= blog.title %></h3>
    <p><%= blog.snippet %></p>
    <% }) %> <% } %> <%- include("./partials/foot.ejs") %>
  </body>
</html>
